[submodule "StarwandEngine/vendor/glfw"]
	path = StarwandEngine/vendor/glfw
	url = https://github.com/abhinoor4717/StarwandGLFW.git
[submodule "StarwandEngine/vendor/glm"]
	path = StarwandEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
